/* src/components/ResetPassword.css */
.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    margin-top: 15px;
    color: green;
}
